/* :host {
  background: linear-gradient(90deg, rgba(151, 149, 149, 0.7), rgba(232, 232, 232, 0.5)),
              url('/img/aduanas.jpg') no-repeat center center;
  background-size: cover;
  display: block;
  min-height: 100vh;
} */
  body{
      display: flex;
      height: 100vh;
      width: 100vw;
      overflow: hidden; 
      position: relative;
      font-size: 22px!important;
      font-family: Noto Sans!important;
      overflow: hidden!important;

  }
.left {
  width: 55%;
  background-image: 
    linear-gradient(#9f2241, #9f2241), 
    url('/img/pleca.png');
  background-blend-mode: multiply;
  background-size: auto, cover; /* solo la imagen se ajusta a cover */
  background-position: center, 0px center; /* color se queda centrado, imagen se mueve */
  background-repeat: no-repeat, no-repeat; /* evitar que se repita la imagen */
  box-shadow: inset -30px 0 80px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

  
  .right {
      overflow-y: auto;
      overflow-x: hidden;
      width: 49%;
      background-color: white;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      box-shadow: inset 0 -50px 50px rgba(0, 0, 0, 0.2);/* sombra interna inferior tenue */
      margin-left: -1%; /* Esto es el 10% del 45% del ancho total */
      z-index: 2;
      position: relative;
  }
.login-card {
  max-width: 450px;
  margin-top: 10%;
  max-height: 100%;
  width: 100%;
}

.info-btn-login{
  color: #6c757d;
}

.info-btn-login:hover {
  cursor: pointer;
  filter: drop-shadow(0rem 0rem 20px rgb(255, 255, 255));
  
}

@media (max-width: 768px) {
  .system-info {
    display: none !important;
  }

  .login-content {
    flex-direction: column;
    width: 90%!important;
  }
}

@media (max-height: 760px) {

  .right img{
    display: none;
  }

  .right div.pb-5{
    padding-bottom: 2px!important;
  }

  .login-card {
    padding: -5px;
    margin-top: 50px;
    width: 350px;
  }
  
  .login-card p,
  .label {
    font-size: 0.9rem;
    padding: 3px;
    margin: auto;

  }
  .right div{
    padding:1px;
  }
  input{
    padding:3px;
    margin: 3px;
  }

  .btn {
    padding: 2px;
    font-size: 0.9rem;
  }
}

/* Línea que aparece de izquierda a derecha */
.hover-line-right_local {
    position: relative;
    display: inline-block;
}

.hover-line-right_local::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--color-primary);
    transition: width 0.2s ease;
}

.hover-line-right_local:hover::after {
    width: 100%;
}


input.form-control-login {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    box-shadow: 0px 13px 2px -10px gray;
    border-radius: 10px;
    font-family: var(--font-family-text);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--text-primary);
    /* height: 40px!important; */
    /*  */
    transition: all 0.1s ease-in-out;
    &:focus {
        outline: none;
        border: none;
        
        /* box-shadow: 0 0 10px 1px rgb(107, 105, 105); */

    }
    &.valid {
        box-shadow: 0px 13px 2px -10px #22b573!important;
        /* box-shadow: 0 0 5px 1px #08741a; */
      }
      
      &.invalid {
        box-shadow: 0px 13px 2px -10px var(--color-primary)!important;        
    }
  }

  .input-icon-wrapper {
    position: relative;

    input {
        width: 100%;
        box-sizing: border-box;
    }

    .icon {
        position: absolute;
        top: 50%;
        left:93%;
        transform: translateY(-50%);
        font-size: 1.1rem;
        transition: color 0.1s ease-in-out;

        &.valid-icon {
            color: #22b573; // Verde    
        }

        &.invalid-icon {
            color: #a33635; // Verde    
        }

    }
  }

  /* Para inputs de password cuando Chrome los autorellena */
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover,
input[type="password"]:-webkit-autofill:focus,
input[type="password"]:-webkit-autofill:active {
    /* -webkit-box-shadow: 0 0 0 1000px white inset !important; */
    -webkit-text-fill-color: black !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

/* También para el campo de usuario asociado */
input[type="text"]:-webkit-autofill,
input[type="email"]:-webkit-autofill {
    /* -webkit-box-shadow: 0 0 0 1000px white inset !important; */
    -webkit-text-fill-color: black !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

