<div class="vh-100 d-flex">
    <div class="left d-flex flex-column justify-content-center align-items-center" >
      <div class="p-4 d-flex justify-content-center align-items-center no-wrap flex-grow-0 w-100">
        <div class="">

          <img src="/img/ICONO CARPETA.svg" width="80%" alt="imagen">
        </div>
        <div>
          <p style="font-size: 38px;font-family: Noto Sans ; font-weight: bolder;" class="text-white ">Sistema de Credencialización y Enrolamiento </p>
        </div>
      </div>

    </div>


  <div class="right d-flex flex-column justify-content-start  align-items-center">
    <div class=" " style="width: 651px; padding-top: 8%">
      <img src="/img/Logos_P_Hacienda_ANAM.png" alt="Logo" width="100%">
    </div>
    <div class="login-card">
      <p style="font-family: Noto Sans ; font-weight: 800; font-size: 22px;" class="text-center mb-2 text-dark-gray">INICIAR SESIÓN</p>

      <form [formGroup]="loginForm">
        <div class="">
          <div *ngIf="error" class="text-danger w-100">{{ error }}</div>
          <label class="form-label fw-bolder text-dark-gray pt-3 " for="usuario">Usuario</label>
                    <div class="pt-0 input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus(loginForm,'usuario') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus(loginForm,'usuario') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <input type="text"  id="username" class=" w-100"  formControlName="usuario" autocomplete="off"
            placeholder="tu_correo@anam.gob.mx" required 
            class="form-control-login" [class.invalid]="getValidationStatus(loginForm,'usuario') == 'invalid'"
                            [class.valid]="getValidationStatus(loginForm, 'usuario') == 'valid'"      
            />
                    </div>
                    
        </div>

        <div class="mb-1 position-relative">

            <label class="form-label fw-bolder text-dark-gray pt-4"  for="password">Contraseña</label>
                    <div class="pt-0 input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus(loginForm,'password') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus(loginForm,'password') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                       <input [type]="hiddenPassw ? 'text' : 'password'" id="password" class="w-100 pr-5"
             formControlName="password" autocomplete="off" placeholder="Contraseña" maxlength="255" 
             
             class="form-control-login" [class.invalid]="getValidationStatus(loginForm,'password') == 'invalid'"
                            [class.valid]="getValidationStatus(loginForm, 'password') == 'valid'"      
            />

          <i class="fas" [ngClass]="hiddenPassw ? 'fa-eye-slash' : 'fa-eye'" (click)="sethidden()"
            style="position: absolute; right: 45px; top: 16px; cursor: pointer; color: #6c757d;"></i>
                    </div>
                    

        </div>
        <div class="d-flex justify-content-between mt-3 mb-5">
          <div class="d-flex  align-items-center">
            <input [(ngModel)]="recordar" [ngModelOptions]="{standalone: true}" class="me-2" type="checkbox" name="recordar" id="recordar" > 
            <label role="button" class="text-muted frmlabel pt-0" for="recordar">Recordarme</label>
          </div>
          <div role="button" (click)="openOlvidarContrasenaModal()"
            class="hover-line-right_local text-decoration-none text-muted fw-bold text-gold">
            Olvidé mi contraseña
          </div>
        </div>
        

        

        <button type="submit" (click)="login()" [disabled]="loginForm.invalid" class="btn w-100 mb-3" [ngClass]="{'disabled': loginForm.invalid, 'btn-success': loginForm.valid}"> 
              Ingresar
        </button>

      </form>
      <div role="button" (click)="openConfirmModal()" class="btn w-100" style="border: solid 2px; border-color: var(--color-gold);">
        Solicitar cuenta
      </div>

      <div class="m-auto w-8  0 pt-3 d-flex justify-content-around align-items-center">
            <span class="tooltip-wrapper center" [attr.data-tooltip]="'Manual de usuario'">
              <i (click)="openDocument('manual')" class="info-btn-login p-2 fas fa-user-circle fa-2x"></i>
            </span>
            <span class="tooltip-wrapper center" [attr.data-tooltip]="'Aviso de privacidad simplificado'">
              <i (click)="openDocument('privacy')" class="info-btn-login p-2 fas fa-shield-alt fa-2x"></i>
            </span>
            <span class="tooltip-wrapper center" [attr.data-tooltip]="'Ayuda'">
              <i (click)="openAyudaModal()" class="info-btn-login p-2 fas fa-question-circle fa-2x"></i>
            </span>
        
      </div>
    </div>


  </div>


</div>

<ng-template #crearCuentaModal>
  <div class="container">

   <!--  <form [formGroup]="crearCuentaForm">

      <div class="row">
        <div class="col-md-12">
          <label class="form-label frmlabel required" for="correo">Correo electrónico</label>
          <div class="input-icon-wrapper">
            <i
              [ngClass]="getValidationStatus(crearCuentaForm,'correo') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus(crearCuentaForm,'correo') == 'invalid' ? 'fas fa-times-circle icon invalid-icon' : 'd-none'"></i>
            <input id="correo" type="email" class="form-control-login" formControlName="correo"
              placeholder="tu_correo@anam.gob.mx" [class.invalid]="getValidationStatus(crearCuentaForm,'correo') == 'invalid'"
              [class.valid]="getValidationStatus(crearCuentaForm,'correo') == 'valid'" />
          </div>
          <p *ngIf="getValidationStatus(crearCuentaForm,'correo') == 'invalid'" class="invalid-field">Correo inválido u obligatorio.</p>
        </div>

        
        <div class="col-md-12">
          <label class="form-label frmlabel required" for="rfc">RFC</label>
          <div class="input-icon-wrapper">
            <i
              [ngClass]="getValidationStatus(crearCuentaForm,'rfc') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus(crearCuentaForm,'rfc') == 'invalid' ? 'fas fa-times-circle icon invalid-icon' : 'd-none'"></i>
            <input id="rfc" type="text" class="form-control-login" formControlName="rfc" placeholder="RFC"
              [class.invalid]="getValidationStatus(crearCuentaForm,'rfc') == 'invalid'"
              [class.valid]="getValidationStatus(crearCuentaForm,'rfc') == 'valid'" />
          </div>
          <p *ngIf="getValidationStatus(crearCuentaForm,'rfc') == 'invalid'" class="invalid-field">RFC inválido u obligatorio.</p>
        </div>
      </div>

      <div class="mt-3 required"> Campos obligatorios</div>

      <div class="mt-3 carta-responsiva-area">
        <p class="text-muted">Para dar de alta tu cuenta, deberás enviar tu carta responsiva firmada a la dirección de correo electrónico: <strong><a
              href="mailto:soporte_scg@anam.gob.mx">{{'soporte_scg@anam.gob.mx'}}</a> </strong>.</p>
        <p class="text-muted">Descargar carta responsiva <strong> <a href=""> aquí</a></strong>.</p>
      </div>
      <div class="mt-3 d-flex align-items-center justify-content-center">
        <button role="button" class="btn btn-primary" [disabled]="crearCuentaForm.invalid"> <i
            class="fas fa-share me-2"></i> Solicitar </button>
      </div>

    </form> -->

    <div class="mt-3 carta-responsiva-area">
        <p class="text-muted">Para dar de alta tu cuenta, deberás enviar tu carta responsiva firmada a la dirección de correo electrónico: <strong><a
              href="mailto:soporte_scg@anam.gob.mx">{{'soporte_scg@anam.gob.mx'}}</a> </strong>.</p>
        <p class="text-muted">Descargar carta responsiva <strong> <a (click)="openDocument('carta')"> aquí</a></strong>.</p>
      </div>

  </div>
</ng-template>
<ng-template #olvidarContrasenaModal>
  <div class="mt-3 carta-responsiva-area">
    <p class="text-muted">Envía tu solicitud de recuperación de contraseña a la dirección de correo electrónico:
      <strong><a
          href="mailto:soporte_scg@anam.gob.mx?subject=Recuperación de contraseña &body=Escribo para recuperar mi contraseña, mi usuario es: ...">{{'soporte_scg@anam.gob.mx'}}</a>
      </strong>.</p>

  </div>
</ng-template>
<ng-template #ayudaModal>
  <div class="mt-3 carta-responsiva-area">
    <p class="text-muted">
		Contacta al equipo de soporte 
		<strong><a
          href="mailto:soporte_scg@anam.gob.mx?subject=Ayuda &body=Escribo para ...">{{'soporte_scg@anam.gob.mx'}}</a>
      </strong>
	</p>
     
		

  </div>
</ng-template>


