.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.6); */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-local {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.4); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-spinner img {
  width: 80px;
  height: 80px;
}