/*-------------contenedor-principal-----------*/
.contenedor-principal {
    padding-top: 50px;
    height: -moz-calc(100vh - (50px));
    height: -webkit-calc(100vh - (50px));
    height: calc(100vh - (50px));
    transition: all 0.3s ease-out;
}

.sidebar {
    width: 275px;
    transition: width 0.3s ease;
    overflow: hidden;
    /* quita 'top' a menos que tenga sentido específico en tu caso */
}

.content-wrap {
    flex-grow: 1;
    transition: all 0.3s ease-out;
    border-radius: 2px;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    padding: 5px;

    &.expanded {
        margin-left: 0px; // mismo ancho que el sidebar expandido
    }

    &.collapsed {
        margin-left: -200px; // mismo ancho que el sidebar colapsado
    }

    width: 100%; // Asegura que el contenido se extienda completamente

    @media (max-width: 768px) {

        &.expanded,
        &.collapsed {
            margin-left: -250px !important;
            width: 100%; // Asegura que el contenido se extienda completamente
        }
    }
}



